# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.swp

# macOS
.DS_Store