<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <style></style>
  </head>

  <body>
    <div class="container"></div>
    <script>
      const apiUri = "/api/expenses/";
      const headers = {
        "Content-Type": "application/json",
      };
      function renderExpense(expense) {
        console.table(expense);
      }
      function refreshTable() {}
      function getExpenses() {
        fetch(apiUri, {
          method: "GET",
          headers: headers,
        })
          .then((response) => response.json())
          .then((data) => {
            console.table(data);
            data.forEach(renderExpense);
          })
          .catch((error) => console.error("Error fetching expenses:", error));
      }
      function postExpense() {
        // name, amount, category( food, transport, entertainment, utilities, other)

        const csrfToken = document
          .querySelector('meta[name="csrf-token"]')
          .getAttribute("content");
        const expense = {
          name: "Test Expense",
          amount: 100.0,
          category: "transport",
        };
        fetch(apiUri, {
          method: "POST",
          headers: {
            ...headers,
            "X-CSRFToken": csrfToken,
          },
          body: JSON.stringify(expense),
        })
          .then((response) => response.json())
          .then((data) => {
            renderExpense(data);
          })
          .catch((error) => console.error("Error posting expense:", error));
      }

      function deleteExpense(id) {}
      // const table = document.createElement('table');
      // document.body.appendChild(table);
      // refreshTable();
      // document.querySelector("input[type='submit']").addEventListener('click', postExpense);

      getExpenses();
      postExpense();
    </script>
  </body>
</html>
